<md-sidenav-container [class.m2app-dark]="isDarkTheme">
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <button md-button (click)="sidenav.toggle()">Close</button>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    Angular 4 + Material in Service Fabric
    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
  </md-toolbar>

  <div class="app-content">
    <md-card>
      <button md-button>FLAT</button>
      <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
      <button md-raised-button color="primary" ng-href="https://material.angular.io/">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>

    <md-card>
      <md-checkbox>Unchecked</md-checkbox>
      <md-checkbox [checked]="true">Checked</md-checkbox>
      <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
      <md-checkbox [disabled]="true">Disabled</md-checkbox>
    </md-card>

    <md-card>
      <md-radio-button name="symbol">Alpha</md-radio-button>
      <md-radio-button name="symbol">Beta</md-radio-button>
      <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
    </md-card>

    <md-card flex-wrap="wrap">
      <md-input-container>
        <input mdInput placeholder="First name">
      </md-input-container>
      <md-input-container>
        <input mdInput #nickname placeholder="Nickname" maxlength="50">
        <md-hint align="center">
          {{nickname.value.length}} / 50
        </md-hint>
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Favorite phone" />
        <md-icon md-font-icon="material-icons app-input-icon">android</md-icon>
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Motorcycle model" />
        <md-icon md-font-icon="material-icons app-input-icon">motorcycle</md-icon>
      </md-input-container>
    </md-card>

    <md-card>
      <md-spinner class="app-spinner"></md-spinner>
      <md-spinner color="accent" class="app-spinner"></md-spinner>
    </md-card>

    <md-card>
      <label>
        Indeterminate progress-bar
        <md-progress-bar class="app-progress"
                         mode="indeterminate"
                         aria-label="Indeterminate progress-bar example"></md-progress-bar>
      </label>
      <label>
        Determinate progress bar - {{progress}}%
        <md-progress-bar class="app-progress"
                         color="accent"
                         mode="determinate"
                         [value]="progress"
                         aria-label="Determinate progress-bar example"></md-progress-bar>
      </label>
    </md-card>
    <md-card>
      <md-chip-list>
        <md-chip>One fish</md-chip>
        <md-chip>Two fish</md-chip>
        <md-chip color="primary" selected="true">Primary fish</md-chip>
        <md-chip color="accent" selected="true">Accent fish</md-chip>
      </md-chip-list>
    </md-card>

    <md-card>
      <md-tab-group>
        <md-tab>
          <ng-template md-tab-label>
            Earth
          </ng-template>
          <ng-template md-tab-content>
            <p>EARTH</p>
          </ng-template>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            Fire
          </ng-template>
          <ng-template md-tab-content>
            <p>FIRE</p>
          </ng-template>
        </md-tab>
      </md-tab-group>
    </md-card>

  </div>
</md-sidenav-container>
<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>